NEXT_PUBLIC_FACILITATOR_URL=https://x402.org/facilitator
RESOURCE_WALLET_ADDRESS=
NEXT_PUBLIC_RESOURCE_WALLET_ADDRESS=
DATABASE_URL=
NEXT_PUBLIC_NODE_ENV=dev
NEXT_PUBLIC_CDP_CLIENT_API_KEY=
NEXT_PUBLIC_CDP_PROJECT_ID=
CDP_SERVER_API_KEY_ID=
CDP_SECRET_KEY=